Pipeline/pipeline/2_pl_create_nyc_taxi_csv_dynamic_usp.json
{
    "name": "2_pl_create_nyc_taxi_csv_dynamic_usp",
    "properties": {
        "activities": [
            {
                "name": "For Each item",
                "type": "ForEach",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@variables('v_folder_path_usp_name_array')",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "Delete associated silver folder",
                            "type": "Delete",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "dataset": {
                                    "referenceName": "ds_nyc_taxi_data_dynamic",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "p_folder_path": {
                                            "value": "@item().folder_path",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                "logStorageSettings": {
                                    "linkedServiceName": {
                                        "referenceName": "ls_adl_synapsecoursepuneethdl",
                                        "type": "LinkedServiceReference"
                                    }
                                },
                                "enableLogging": true,
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                }
                            }
                        },
                        {
                            "name": "create associated silver  using usd",
                            "type": "SqlServerStoredProcedure",
                            "dependsOn": [
                                {
                                    "activity": "Delete associated silver folder",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "storedProcedureName": {
                                    "value": "@item().usp_name",
                                    "type": "Expression"
                                }
                            },
                            "linkedServiceName": {
                                "referenceName": "ls_serverless_sql_pool_nyc_taxi_ldw",
                                "type": "LinkedServiceReference"
                            }
                        }
                    ]
                }
            }
        ],
        "variables": {
            "v_folder_path": {
                "type": "String",
                "defaultValue": "silver/taxi_zone"
            },
            "v_usp_name": {
                "type": "String",
                "defaultValue": "silver.usd_silver_taxi_zone"
            },
            "v_folder_path_usp_name_array": {
                "type": "Array",
                "defaultValue": [
                    {
                        "folder_path": "silver/calendar",
                        "usp_name": "silver.usp_silver_calendar"
                    },
                    {
                        "folder_path": "silver/taxi_zone",
                        "usp_name": "silver.usp_silver_taxi_zone"
                    },
                    {
                        "folder_path": "silver/trip_type",
                        "usp_name": "silver.usp_silver_trip_type"
                    },
                    {
                        "folder_path": "silver/vendor",
                        "usp_name": "silver.usp_silver_vendor"
                    },
                    {
                        "folder_path": "silver/rate_code",
                        "usp_name": "silver.usp_silver_rate_code"
                    },
                    {
                        "folder_path": "silver/payment_type",
                        "usp_name": "silver.usp_silver_payment_type"
                    }
                ]
            }
        },
        "folder": {
            "name": "Child Pipelines"
        },
        "annotations": [],
        "lastPublishTime": "2025-03-01T14:06:54Z"
    },
    "type": "Microsoft.Synapse/workspaces/pipelines"
}